{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign kind = post.kind | default: "publication" %}

<table>
  <tr>

    <!-- Image (optional) -->
    <td style="width: 300px">
      {% if post.image and post.image != "" and post.image != "N/A" %}
        <img src="/images/publications/{{ post.image }}"
             width="250"
             style="border: 2px black; float:left; margin-right:15px; border-radius: 5px; border-style: none;" />
      {% elsif post.header.teaser %}
        <img src="{{ post.header.teaser | relative_url }}"
             width="250"
             style="border: 2px black; float:left; margin-right:15px; border-radius: 5px; border-style: none;" />
      {% endif %}
    </td>

    <td>
      <div>
        <h2 style="margin-top: 10px; margin-bottom: 0px;">{{ title }}</h2>

        <!-- Authors/Team line (optional) -->
        {% assign people = post.authors | default: post.team | default: "" %}
        {% if people != "" and people != "N/A" %}
          {% assign people = people | replace: '"{o}', 'ö' %}
          {% assign people = people | replace: '"{u}', 'ü' %}
          <h3 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">{{ people }}</h3>
        {% endif %}

        <!-- Meta line: publication venue/year/status OR project info -->
        {% if kind == "publication" %}
          {% if post.type contains "thesis" %}
            <h3 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
              {% if post.type contains "phd" %}PhD{% else %}SM{% endif %} Thesis, {{ post.year }}
            </h3>
            <h3 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">MIT Department of Mechanical Engineering</h3>
          {% else %}
            {% assign meta_parts = "" %}

            {% if post.venue and post.venue != "" and post.venue != "N/A" %}
              {% assign meta_parts = meta_parts | append: post.venue %}
            {% endif %}

            {% if post.year and post.year != "" and post.year != "N/A" %}
              {% if meta_parts != "" %}{% assign meta_parts = meta_parts | append: ", " %}{% endif %}
              {% assign meta_parts = meta_parts | append: post.year %}
            {% elsif post.date %}
              {% if meta_parts != "" %}{% assign meta_parts = meta_parts | append: ", " %}{% endif %}
              {% assign meta_parts = meta_parts | append: post.date | date: "%Y" %}
            {% endif %}

            {% if meta_parts != "" %}
              <h3 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
                {{ meta_parts }}
                {% if post.status and post.status != "" and post.status != "N/A" %}
                  ({{ post.status }})
                {% endif %}
              </h3>
            {% endif %}
          {% endif %}
        {% else %}
          {% assign meta_parts = "" %}

          {% if post.role and post.role != "" and post.role != "N/A" %}
            {% assign meta_parts = meta_parts | append: post.role %}
          {% endif %}

          {% if post.org and post.org != "" and post.org != "N/A" %}
            {% if meta_parts != "" %}{% assign meta_parts = meta_parts | append: " · " %}{% endif %}
            {% assign meta_parts = meta_parts | append: post.org %}
          {% endif %}

          {% if post.year and post.year != "" and post.year != "N/A" %}
            {% if meta_parts != "" %}{% assign meta_parts = meta_parts | append: " · " %}{% endif %}
            {% assign meta_parts = meta_parts | append: post.year %}
          {% elsif post.date %}
            {% if meta_parts != "" %}{% assign meta_parts = meta_parts | append: " · " %}{% endif %}
            {% assign meta_parts = meta_parts | append: post.date | date: "%Y" %}
          {% endif %}

          {% if meta_parts != "" %}
            <h3 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
              {{ meta_parts }}
              {% if post.status and post.status != "" and post.status != "N/A" %}
                ({{ post.status }})
              {% endif %}
            </h3>
          {% endif %}
        {% endif %}

        <!-- Notes (optional) -->
        {% if post.notes and post.notes != "" and post.notes != "N/A" %}
          <h3 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
            {{ post.notes }}
          </h3>
        {% endif %}

        <!-- Description (optional, great for projects) -->
        {% assign desc = post.description | default: post.excerpt | default: "" %}
        {% if desc != "" %}
          <p style="margin-top: 10px; margin-bottom: 0px;">
            {{ desc | markdownify | remove: "<p>" | remove: "</p>" }}
          </p>
        {% endif %}

        <!-- Awards (optional) -->
        {% if post.awards and post.awards != "N/A" and post.awards != "" %}
          {% assign awards = post.awards | split: ", " %}
          {% for award in awards %}
            <h3 style="color: red; margin-top: 10px; margin-bottom: 0px;">
              {{ award }}
            </h3>
          {% endfor %}
        {% endif %}

        <!-- Links row -->
        <h3 style="margin-top: 10px; margin-bottom: 0px;">

          <!-- Website / Demo -->
          {% assign website = post.links_to_website | default: post.website | default: post.demo %}
          {% if website and website != "" and website != "N/A" %}
            <a style="text-decoration: none;" href="{{ website }}" target="_blank">Website <i class="fa fa-globe"></i></a>&nbsp;&nbsp;&nbsp;
          {% endif %}

          <!-- Paper -->
          {% assign paper = post.arxiv | default: post.paper %}
          {% if paper and paper != "" and paper != "N/A" %}
            <a style="text-decoration: none;" href="{{ paper }}" target="_blank">Paper <i class="fa fa-file"></i></a>&nbsp;&nbsp;&nbsp;
          {% endif %}

          <!-- Code / Repo -->
          {% assign code_link = post.links_to_code | default: post.code | default: post.repo %}
          {% if code_link contains "," %}
            {% assign codes = code_link | split: ", " %}
            Code: [
            {% for code in codes %}
              {% assign code_info = code | split: ": " %}
              <a style="text-decoration: none;" href="{{ code_info.last }}" target="_blank">{{ code_info.first }} <i class="fa fa-code"></i></a>
              {% if code != codes.last %}
                ,&nbsp;
              {% endif %}
            {% endfor %}
            ]&nbsp;&nbsp;&nbsp;
          {% elsif code_link and code_link != "" and code_link != "N/A" %}
            <a style="text-decoration: none;" href="{{ code_link }}" target="_blank">Code <i class="fa fa-code"></i></a>&nbsp;&nbsp;&nbsp;
          {% endif %}

          <!-- Video -->
          {% assign video = post.links_to_video | default: post.video %}
          {% if video and video != "" and video != "N/A" %}
            <a style="text-decoration: none;" href="{{ video }}" target="_blank">Video <i class="fa fa-film"></i></a>&nbsp;&nbsp;&nbsp;
          {% endif %}

          <!-- Slides -->
          {% if post.slides and post.slides != "" and post.slides != "N/A" %}
            <a style="text-decoration: none;" href="{{ post.slides }}" target="_blank">Slides <i class="fa fa-file"></i></a>&nbsp;&nbsp;&nbsp;
          {% endif %}

          <!-- Docs -->
          {% if post.docs and post.docs != "" and post.docs != "N/A" %}
            <a style="text-decoration: none;" href="{{ post.docs }}" target="_blank">Docs <i class="fa fa-book"></i></a>&nbsp;&nbsp;&nbsp;
          {% endif %}

        </h3>
      </div>
    </td>
  </tr>
</table>
